body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#info{
    position: absolute;
    top: 10px;
    left: 10px;
}

#scoreboard{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 10px;
    text-align: center;
}

#scoreboard div{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#scoreboard #turn{
    width: 130px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;

}

#scoreboard #player0{
    float: right;
    margin-right: 2px;
}

#scoreboard #player1{
    float: right;
    margin-right: 2px;
}

#winner{
    position: absolute;
    width: 300px;
    height: 100px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#shotProgressBar {
    position: absolute;
    width: 30px;
    height: 50%;
    top: 130px;
    left: 10px;
    background-color: grey;
}
#shotProgress {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    background-color: red;
}